.timerContainer{
  padding-left: 160px;
  padding-right: 160px;
  border: 1px solid blue;
  margin: 100px 500px;
  display: flex;
  flex-direction: column;
}
.digits{
  display:flex
}

.hour{
  height: 200px;
  font-size: 150px;
}
.minutes{
  height: 200px;
  font-size: 150px;
  display: flex
}
.seconds{
  height: 200px;
  font-size: 150px;
  display: flex
}
.hourDigit,.minuteDigit,.secondDigit,.dots{
  margin:0;
  padding:0;
}
.labels{
  display: flex;
  justify-content: space-between;
  width: 100%
}
.hourtxt,.minutetxt,.secondtxt {
  font-size: 40px;

}